<html>
<meta charset="UTF-8">
	<head>
		<title>FILMOMANIAK</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>	
	</head>
	<body>
		<header>
			<ul class="nav nav-pills">
  			<li role="presentation" class="active"><a href="index.html.twig">Home <span class="glyphicon glyphicon-home"></span></a></li>
  			
  		</ul>
		</header>
		<section id="content">
		{% block content %}

		{% endblock %}
		</section>
		<footer>
			Copyright <span class="glyphicon glyphicon-copyright-mark"></span> Grzegorz Futa & Paweł Futa
		</footer>
	</body>
	

</html>