<html>
<meta charset="UTF-8">
	<head>
		<title>FILMOMANIAK</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>	
	</head>
	<body style="background-color:orange">
		<h1 style="background-color:lightgreen">Witamy w FILMOMANIAK!</h1>
	<ul class="nav nav-pills">
  			<li role="presentation" class="active"><a href="http://v-ie.uek.krakow.pl/~s175916/app_dev.php/">Home <span class="glyphicon glyphicon-home"></span></a></li>
  			<li role="presentation" class="active"><a href="http://v-ie.uek.krakow.pl/~s175916/app_dev.php/filmy">Filmy <span class="glyphicon glyphicon-film"></span></a></li>
  			<li role="presentation" class="active"><a href="http://v-ie.uek.krakow.pl/~s175916/app_dev.php/login">Logowanie <span class="glyphicon glyphicon-user"></span></a></li>
  			
  			
  	</ul>
  		<br>
		
  	{% include 'GrupaProjektBundle:Filmy:filmy.index.html.twig' %}

  	
  	
  	


		
	
	</body>

</html>
