{% extends "GrupaProjektBundle::menu.html.twig" %}
{% block header %}
	<head>
		<title>FILMOMANIAK</title>
{% endblock %}

{% block content %}
	{#
	{{ nazwaZmiennej1 }}
  #}
  	
  	<h1>Filmy <span class="glyphicon glyphicon-film"></span></h1>

  	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="{{path('grupa_projekt_filmy')}}"><span class="glyphicon glyphicon-list-alt"></span> Lista Filmów</a></li>
		<li role="presentation" class="active"><a href="{{path('grupa_projekt_filmy')}}"><span class="glyphicon glyphicon-list-alt"></span>Lista popularnych filmów</a></li>
		<li role="presentation" class="active"><a href="#">Najczęściej recenzowane</a></li>
		<li role="presentation" class="active"><a href="#">Gatunki</a></li>
	</ul>
  	<br>
	
	
  	<a href="whiplash.filmy.index.html.twig"><h3>Whiplash</h3></a>
  	<div class="row">
  		<div class="col-xs-6 col-md-3">
  			<a href="whiplash.filmy.index.html.twig" class="thumbnail">
  				<img src="http://1.fwcdn.pl/po/88/47/698847/7655940.3.jpg" alt="">
  			</a>
  		</div>
  	</div>


 
 {% endblock %}
