{% extends "GrupaProjektBundle::menu.html.twig" %}


{% block title %}GrupaProjektBundle:Koszyk:pokazKoszyk{% endblock %}

{% block body %}
<h1>Welcome to the Koszyk:pokazKoszyk page</h1>
{% endblock %}
