{% extends "GrupaProjektBundle::menu.html.twig" %}

{% block content %}


<img src="http://mysite.com.pl/wp-content/uploads/2013/06/sklep_internetowy_koszyk.jpg" width="200" height="100"/>

			<div class="caption">
			<p><a href="#" class="btn btn-lg btn-primary" role="button">Dodaj element</a></p>
			<p><a href="#" class="btn btn-lg btn-primary" role="button">Usuń element</a></p>
			</div>


{% endblock %}
