<h1> dodawanie Feeds </h1>

<nav>
<a 
	href="{{ path('fos_user_registration_register') }}"
	>
	 Rejestracja
	 </a>

<a 
	href="{{ path('uek_demo_feed_create') }}"
	>
	 Self
	 </a>

<form method="POST">
	{{ form_row(form) }}
	<button type="submit">Wyslij</button>
</nav>

<h3> Czeœæ   mo¿e coœ napiszesz?

</form>