{% extends "GrupaProjektBundle::layout.html.twig" %}
{% block menu %}
	<head>
		<title>Logowanie</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</head>
	
		<form action="http://v-ie.uek.krakow.pl/~s175916/app_dev.php/zalogowany" method="POST">
			<div class="input-group">
  			<input type="text" name="email" class="form-control" placeholder="adres email" aria-describedby="basic-addon1">
  			 <span class="input-group-addon" id="basic-addon1">@example.com</span>
  			</div>
  			<input type="password" class="form-control" placeholder="hasło">
  			<br>
  			<input type="submit" class="btn btn-primary" value="Zaloguj się">
  			<span class="glyphicon glyphicon-log-in"></span>
  			<br>
  			<img src="http://www.podpiselektroniczny.kalisz.pl/wp-content/uploads/2013/05/klucz.jpg" width="500" height="500"/>
		</form>
	

{% endblock %}