{% extends "GrupaProjektBundle::layout.html.twig" %}
<html>
<meta charset="UTF-8">
<body style="background-color:green">
	<head>
		<title>Dodaj recenzję</title>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>	
	</head>
<br>
	<form>
		<textarea name="recenzja"></textarea>
	<br><br>
		<input type="submit" value="Wyślij">
		<span class="glyphicon glyphicon-send"></span>
	</form>
</body>
</html>
