{% block header %}
	<head>
		<title>FILMY INDEX</title>
{% endblock %}
{% block content %}

<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 


  	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">Dostępne filmy</a></li>
		<li role="presentation" class="active"><a href="#">Popularne filmy</a></li>
		<li role="presentation" class="active"><a href="#">Najczęściej recenzowane</a></li>
		<li role="presentation" class="active"><a href="#">Gatunki</a></li>
	</ul>
  	<br>
  	
  		
<br>
{% endblock %}

