<html>
<meta charset="UTF-8">
<head>
	<title>Gra Tajemnic</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>	
</head>	
<body>
	<a href="#" class="btn btn-primary">Koszyk <span class="glyphicon glyphicon-shopping-cart"></span></a>
<div class="row">
    <div class="col-sm-6 col-md-4">
      	<div class="thumbnail">
        	<img src="http://1.fwcdn.pl/po/40/05/644005/7663425.3.jpg" alt="">
	        <h3>Gra Tajemnic</h3>
	        <p>Historia niezwykle utalentowanego Alana Turinga, brytyjskiego matematyka, który w kluczowym momencie II wojny światowej złamał niemiecki kod Enigma. Zespół najbardziej utalentowanych ludzi na świecie pracuje pod okiem genialnego Alana Turinga nad złamaniem skomplikowanego kodu, którym posługują się naziści. Ich niesamowite dokonania, oparte częściowo na pracy polskich naukowców, pozwalają położyć kres najbardziej okrutnej wojnie w historii dużo wcześniej, niż wydawało się to możliwe. Po tych wydarzeniach Turing w blasku chwały przystępuje do badań, których efektem będzie największa rewolucja naszych czasów – powstanie komputera. Mimo niesamowitych zasług, ekscentryczny geniusz wpadnie w poważne kłopoty, które doprowadzą do nieoczekiwanego zwrotu w tej fascynującej historii.
	        </p>
	        <p>Lista Aktorów<br>
	        Benedict Cumberbatch
			Keira Knightley 
			Matthew Goode 
			Rory Kinnear 
			Allen Leech
			Matthew Beard
			Charles Dance
			Mark Strong
			</p>
			<p>Cena wypożyczenia: 5 zł </p>
			<div class="caption">
				<p><a href="#" class="btn btn-primary" role="button">Wypożycz</a></p>
			</div>
		</div>
	</div>
</div>

</body>
</html>