<html>
<meta charset="UTF-8">
<head>
	<title>Whiplash</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>	
</head>	
<body>

	<a href="#" class="btn btn-primary">Koszyk <span class="glyphicon glyphicon-shopping-cart"></span></a>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="http://1.fwcdn.pl/po/88/47/698847/7655940.3.jpg" alt="">
			<h3>Whiplash</h3>
			<p>Andrew (Miles Teller) jest utalentowanym młodym perkusistą, uczniem konserwatorium muzycznego na Manhattanie. Chłopak marzy o wielkiej karierze. Aby zrealizować plany, postanawia dołączyć do szkolnej orkiestry jazzowej prowadzonej przez okrutnego nauczyciela Terence'a Fletchera (J.K. Simmons), który często wyładowuje swoje frustracje na uczniach. Pod kierunkiem bezwzględnego Fletchera, Andrew zaczyna dążyć do doskonałości za wszelką cenę - nawet własnego człowieczeństwa.
			</p>	
			<p>Lista Aktorów<br>
				Miles Teller
				J.K. Simmons
				Paul Reiser
				Melissa Benoist
				Austin Stowell
				Nate Lang
				Chris Mulkey
				Damon Gupton
				Max Kasch
				Suanne Spoke
				Charlie Ian
				Jayson Blair
				Kofi Siriboe
				Kavita Patil
				C.J. Vana
				Tarik Lowe
				Tyler Kimball
				Rogelio Douglas Jr.
			</p>
			<p>Cena wypożyczenia: 5 zł </p>
			<div class="caption">
				<p><a href="#" class="btn btn-primary" role="button">Wypożycz</a></p>
			</div>
		</div>
	</div>
</div>

</body>
</html>