{% extends "GrupaProjektBundle::menu.html.twig" %}

{% block title %}GrupaProjektBundle:Zamowienia:showZamowienia{% endblock %}

{% block content %}
<h1>Welcome to the Zamowienia page</h1>
{% endblock %}
